@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,900');

/*
	typography
*/
body {
	font: 16px / 21px 'Montserrat', sans-serif;
	color: #231F20;
}
h2 {
	color: #fff;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.5;
	text-transform: uppercase;
}
h4 {
	font-size: 42px;
	line-height: 1;
    font-weight: 500;
}
/*
	common
*/
.img-wrap img{
	width: 100%;
}
/*
	header
*/
header {
	padding: 20px 0;
	margin-bottom: 21px;
}
header .logo a {
	display: block;
	width:150px;
	height: 43px;
	background: url(../img/logo.png) no-repeat 0 0 / 100%;
	text-indent: -9999em;
}
header .global-navigation ul{
	text-align: right;
}
header .sns-wrap li, header .global-navigation ul li {
	display: inline-block;
}
footer .bottom-navigation ul li a, header .global-navigation ul li a {
	display: block;
	color: #231F20;
	line-height: 43px;
	text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    padding: 0 12px;
    transition: .3s;
}
header .sns-wrap {
	text-align: right;
	word-spacing: 5px;
}
header .sns-wrap li a {
	display: block;
	color: #81879E
}
header .sns-wrap li a .fab {
	font-size: 24px;
	line-height: 43px;
}
header .sns-wrap li a:hover , header .global-navigation ul li a:hover {
	color: #4889FF;
}

/*
	hero area
*/
.hero-area {
	margin-bottom: 84px;
}
.slick-slide {
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	padding-top: 250px;
}
.slick-slide h2 {
	margin-top: -75px;
}
.slick-slide[data-custom-index="1"] {
	background-image: url(../img/hero-bg.jpg);
}
.slick-slide[data-custom-index="2"] {
	background-image: url(../img/hero-bg-2.jpg);
}
.slick-slide[data-custom-index="3"] {
	background-image: url(../img/hero-bg-3.jpg);
}
.welcome-slider .slick-dots{
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
}
.welcome-slider .slick-dots li {
	margin-right: 5px;
	display: inline-block;
	width: 30px;
	height: 10px;
	border-radius: 4px;
	border:1px solid #fff;
}
.welcome-slider .slick-dots li.slick-active {
	background-color: #fff;
}
.welcome-slider .slick-dots li:last-child {
	margin-right: 0;
}
/*
	product area
*/
.products-area {
	margin-bottom: 84px;
}
.products-area .grid-item {
	margin-bottom: 30px;
}
.products-area .img-wrap {
	position: relative;
	overflow: hidden;
	display: block;
}
.products-area .img-wrap:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255,255,255,.3);
	transition: all 0.3s;
	opacity: 1;
}
.products-area .img-wrap img {
	transform: scale(1);
	transition: all 0.3s;
}
.products-area .img-wrap:hover img {
	transform: scale(1.2);
}
.products-area .img-wrap:hover:after {
	opacity: 0;
}
/*
	subscribe
*/
.subscribe-area {
}
.subscribe-area form{
	background-color: #F2F2F2;
	padding: 80px 40px;
	display: flex;
}
.subscribe-area form > h4 {
	flex:1;
	text-align: center;
}
.subscribe-area form > p {
	flex:2;
	background-color: #fff;
	border-radius: 5px;
	height:62px;
	box-sizing: border-box;
	padding: 10px 15px;
	margin-top: -10px;
	display: flex;
}
.subscribe-area form > p input[name="usermail"] {
	flex:3;
	font-size: 20px;
	line-height: 42px;
	outline: none;
}
.subscribe-area form > p input[type="submit"] {
	flex:1;
	line-height: 42px;
	padding: 0 20px;
	font-size: 20px;
	background-color: #2176FF;
	color: #fff;
	font-weight: 500;
}
.subscribe-area form > p input[type="submit"]:hover {
	background-color: #FFC704;
	color: #2176FF;
}
/*
	footer
*/
footer {
	padding: 42px 0;
}
footer .bottom-navigation ul{
	text-align: center;
}
footer .bottom-navigation ul li {
	display: inline-block;
}
footer .bottom-navigation ul li a {
	line-height: 21px;
}